In [30]:
import pandas as pd

In [56]:
df=pd.read_csv("station_data.csv", parse_dates=["Date"], index_col=0)

In [57]:
df

,1_param,2_param,3_param,4_param,5_param,6_param,7_param,1_param_b,2_param_b,3_param_b,4_param_b,5_param_b,6_param_b,7_param_b
Date,,,,,,,,,,,,,,
2014-08-18,0.51,0.033,0.84,0.0000,0.0320,5.6000,27.948,8.51,4.257,12.87,1.5480,1.2420,59.1600,14.780
2014-09-15,0.27,0.160,0.30,62.8940,52.5000,580.8000,21.014,0.14,0.170,10.64,2.2500,6.1600,111.9800,7.590
2014-09-27,1.54,3.492,20.48,0.8820,0.8500,44.5400,10.444,0.40,0.580,24.49,0.2880,0.8820,91.9440,29.146
2014-10-13,0.00,7.688,41.60,3.7800,2.9280,163.0080,27.846,0.14,4.251,25.74,1.0070,2.5200,161.8750,16.317
2014-10-26,0.13,5.670,13.72,2.1700,2.7200,29.2060,24.585,0.34,4.375,27.06,0.3190,1.9000,334.8100,18.564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-10,0.25,7.140,21.84,8.5652,3.3693,NaN,24.570,10.20,11.072,22.77,1.9149,1.2857,1.7542,26.936
2020-07-12,0.66,25.560,48.00,28.2317,26.6526,NaN,15.708,1.68,2.088,4.32,0.1368,0.1302,33.8504,8.855
2020-08-03,0.46,47.500,72.60,9.3366,11.9301,94.3353,24.732,2.25,0.752,3.64,0.1470,0.2204,24.2848,7.190
2020-09-09,0.11,18.150,16.72,10.2528,11.2561,NaN,20.007,5.10,2.030,4.76,0.9856,0.5208,2.3742,32.480
2020-10-01,33.20,3.100,17.29,1.8870,4.6690,NaN,17.424,12.87,17.780,36.12,4.2504,4.7880,NaN,20.331

In [58]:
df2=pd.read_csv("meteodati_2014.csv", skiprows=1, parse_dates=["Datums \ Laiks"], dayfirst=True, index_col=0)

In [59]:
df2=pd.read_csv("meteodati_2014.csv", skiprows=1,dayfirst=True, parse_dates=["Datums \ Laiks"],index_col=0)

In [60]:
df2

                05:00  06:00  08:00  09:00  17:00  18:00  20:00  21:00
Datums \ Laiks
2014-01-04        NaN    NaN    NaN    NaN    3.1    NaN    0.3    NaN
2014-01-05        NaN    NaN    NaN    NaN    0.1    NaN    0.9    NaN
2014-01-06        0.8    NaN    1.7    NaN    0.6    NaN    NaN    NaN
2014-01-07        NaN    NaN    0.1    NaN    3.5    NaN    NaN    NaN
2014-01-08        NaN    NaN    NaN    NaN    0.0    NaN    0.3    NaN
...               ...    ...    ...    ...    ...    ...    ...    ...
2014-12-27        NaN    NaN    NaN    NaN    0.0    NaN    NaN    NaN
2014-12-28        0.3    NaN    NaN    NaN    0.0    NaN    0.0    NaN
2014-12-29        0.5    NaN    0.3    NaN    0.4    NaN    0.0    NaN
2014-12-30        NaN    NaN    NaN    NaN    1.0    NaN    0.9    NaN
2014-12-31        2.1    NaN    2.5    NaN    NaN    NaN    NaN    NaN

[198 rows x 8 columns]

In [36]:
df=df.asfreq(freq="1D")

In [37]:
df.tail(30)

,1_param,2_param,3_param,4_param,5_param,6_param,7_param,1_param_b,2_param_b,3_param_b,4_param_b,5_param_b,6_param_b,7_param_b
Date,,,,,,,,,,,,,,
2020-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-09,0.11,18.15,16.72,10.2528,11.2561,NaN,20.007,5.10,2.03,4.76,0.9856,0.5208,2.3742,32.480
2020-09-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-01,33.20,3.10,17.29,1.8870,4.6690,NaN,17.424,12.87,17.78,36.12,4.2504,4.7880,NaN,20.331

In [38]:
df2[["05:00"]].where(df2["05:00"]>0.5).dropna()

                05:00
Datums \ Laiks
2014-01-06        0.8
2014-01-10        8.5
2014-01-12        2.3
2014-02-01        3.1
2014-02-08        3.0
2014-02-12        0.6
2014-02-16        1.7
2014-02-19        1.9
2014-02-20        0.7
2014-03-19        1.4
2014-03-20        4.5
2014-03-23        1.0
2014-03-26        3.0
2014-11-08        2.0
2014-11-21        2.7
2014-12-13        4.2
2014-12-14        0.7
2014-12-19        7.5
2014-12-24        4.1
2014-12-25        5.0
2014-12-31        2.1

In [39]:
df=df.fillna(method="bfill", limit=4)

In [61]:
df

,1_param,2_param,3_param,4_param,5_param,6_param,7_param,1_param_b,2_param_b,3_param_b,4_param_b,5_param_b,6_param_b,7_param_b
Date,,,,,,,,,,,,,,
2014-08-18,0.51,0.033,0.84,0.0000,0.0320,5.6000,27.948,8.51,4.257,12.87,1.5480,1.2420,59.1600,14.780
2014-09-15,0.27,0.160,0.30,62.8940,52.5000,580.8000,21.014,0.14,0.170,10.64,2.2500,6.1600,111.9800,7.590
2014-09-27,1.54,3.492,20.48,0.8820,0.8500,44.5400,10.444,0.40,0.580,24.49,0.2880,0.8820,91.9440,29.146
2014-10-13,0.00,7.688,41.60,3.7800,2.9280,163.0080,27.846,0.14,4.251,25.74,1.0070,2.5200,161.8750,16.317
2014-10-26,0.13,5.670,13.72,2.1700,2.7200,29.2060,24.585,0.34,4.375,27.06,0.3190,1.9000,334.8100,18.564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-10,0.25,7.140,21.84,8.5652,3.3693,NaN,24.570,10.20,11.072,22.77,1.9149,1.2857,1.7542,26.936
2020-07-12,0.66,25.560,48.00,28.2317,26.6526,NaN,15.708,1.68,2.088,4.32,0.1368,0.1302,33.8504,8.855
2020-08-03,0.46,47.500,72.60,9.3366,11.9301,94.3353,24.732,2.25,0.752,3.64,0.1470,0.2204,24.2848,7.190
2020-09-09,0.11,18.150,16.72,10.2528,11.2561,NaN,20.007,5.10,2.030,4.76,0.9856,0.5208,2.3742,32.480
2020-10-01,33.20,3.100,17.29,1.8870,4.6690,NaN,17.424,12.87,17.780,36.12,4.2504,4.7880,NaN,20.331

In [ ]:
df=df.loc["2014"]

In [ ]:
df["1_param"].dropna().plot()

In [ ]:
df.dropna()

In [62]:
df2=pd.read_csv("meteodati_2014.csv", skiprows=1, parse_dates=["Datums \ Laiks"], dayfirst=True, index_col=0)

In [63]:
df2["sum"]=df2.sum(axis=1)

In [64]:
df2

                05:00  06:00  08:00  09:00  17:00  18:00  20:00  21:00  sum
Datums \ Laiks
2014-01-04        NaN    NaN    NaN    NaN    3.1    NaN    0.3    NaN  3.4
2014-01-05        NaN    NaN    NaN    NaN    0.1    NaN    0.9    NaN  1.0
2014-01-06        0.8    NaN    1.7    NaN    0.6    NaN    NaN    NaN  3.1
2014-01-07        NaN    NaN    0.1    NaN    3.5    NaN    NaN    NaN  3.6
2014-01-08        NaN    NaN    NaN    NaN    0.0    NaN    0.3    NaN  0.3
...               ...    ...    ...    ...    ...    ...    ...    ...  ...
2014-12-27        NaN    NaN    NaN    NaN    0.0    NaN    NaN    NaN  0.0
2014-12-28        0.3    NaN    NaN    NaN    0.0    NaN    0.0    NaN  0.3
2014-12-29        0.5    NaN    0.3    NaN    0.4    NaN    0.0    NaN  1.2
2014-12-30        NaN    NaN    NaN    NaN    1.0    NaN    0.9    NaN  1.9
2014-12-31        2.1    NaN    2.5    NaN    NaN    NaN    NaN    NaN  4.6

[198 rows x 9 columns]

In [65]:
df2=df2[["sum"]]

In [67]:
df2

                sum
Datums \ Laiks
2014-01-04      3.4
2014-01-05      1.0
2014-01-06      3.1
2014-01-07      3.6
2014-01-08      0.3
...             ...
2014-12-27      0.0
2014-12-28      0.3
2014-12-29      1.2
2014-12-30      1.9
2014-12-31      4.6

[198 rows x 1 columns]

In [68]:
df

,1_param,2_param,3_param,4_param,5_param,6_param,7_param,1_param_b,2_param_b,3_param_b,4_param_b,5_param_b,6_param_b,7_param_b
Date,,,,,,,,,,,,,,
2014-08-18,0.51,0.033,0.84,0.0000,0.0320,5.6000,27.948,8.51,4.257,12.87,1.5480,1.2420,59.1600,14.780
2014-09-15,0.27,0.160,0.30,62.8940,52.5000,580.8000,21.014,0.14,0.170,10.64,2.2500,6.1600,111.9800,7.590
2014-09-27,1.54,3.492,20.48,0.8820,0.8500,44.5400,10.444,0.40,0.580,24.49,0.2880,0.8820,91.9440,29.146
2014-10-13,0.00,7.688,41.60,3.7800,2.9280,163.0080,27.846,0.14,4.251,25.74,1.0070,2.5200,161.8750,16.317
2014-10-26,0.13,5.670,13.72,2.1700,2.7200,29.2060,24.585,0.34,4.375,27.06,0.3190,1.9000,334.8100,18.564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-10,0.25,7.140,21.84,8.5652,3.3693,NaN,24.570,10.20,11.072,22.77,1.9149,1.2857,1.7542,26.936
2020-07-12,0.66,25.560,48.00,28.2317,26.6526,NaN,15.708,1.68,2.088,4.32,0.1368,0.1302,33.8504,8.855
2020-08-03,0.46,47.500,72.60,9.3366,11.9301,94.3353,24.732,2.25,0.752,3.64,0.1470,0.2204,24.2848,7.190
2020-09-09,0.11,18.150,16.72,10.2528,11.2561,NaN,20.007,5.10,2.030,4.76,0.9856,0.5208,2.3742,32.480
2020-10-01,33.20,3.100,17.29,1.8870,4.6690,NaN,17.424,12.87,17.780,36.12,4.2504,4.7880,NaN,20.331

In [82]:
df.join(df2, how="cross").loc["2014-01"]

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [ ]:
df2.loc["2014-08-18"]

In [55]:
df

                sum
Datums \ Laiks
2014-01-04      3.4
2014-01-05      1.0
2014-01-06      3.1
2014-01-07      3.6
2014-01-08      0.3
...             ...
2014-12-27      0.0
2014-12-28      0.3
2014-12-29      1.2
2014-12-30      1.9
2014-12-31      4.6

[198 rows x 1 columns]